@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&display=swap');

.full-height{
    height: 100vh;
}

.hero-img{
    height: 90vh;
    position: relative;
    bottom: -100px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Libre Baskerville', serif ;
}

p{
    font-family: 'Lato', sans-serif;
}
button{
    padding: 16px 20px;
    border-radius: 8px;
    background: #183828;
    font-family: 'Lato' , sans-serif;
    font-size: 16px;
    color: white;
}


.carousel-item{
    background-color:#E6F2E9 ;
}

.carousel-control-next,.carousel-control-prev{
    top: auto;
    right: auto;
    left: 24px;
    bottom: 74px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;

}
.carousel-control-next{
left: 84px;

}

.accordion-item{
    background-color: #a1a185;
    width: 100%;
    color: #183828
}
.accordion {
     padding-bottom: 50px;


}
.button{
    background-color: #cacaaa;
}

.accordion-button{
    background-color: #cacaaa;
    color: #183828;
}
   
.accordion-button:not(.collapsed) {
    color: #183828;
    background-color: #cacaaa;
    box-shadow: white;
}  

.mt-5{
    width: 100%;
    height: auto;
    
}



/* Navigation */

.nav-link {
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.60);
}

.nav-link:hover {
    color: #18382B;
}

.nav-link.active {
    border-bottom: 2px solid #18382B;
    color: #18382B;
}

/* Card */

.card {
    border-radius: 150px 150px 12px 12px;
    background: #F3F3F3;
    text-align: center;
    height: 440px;
    border: none;
}

.card-img-top {
    width:auto;
    height:320px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.card-img-top.small {
    height:200px;
}

.card-text {
    color: #18382B;
}
/* Spacing */
.full-height {
    height: 100vh;
}


.table-table-hover{
    margin: 50px; 
    
}

.fixed-top {
    position: relative;
   
   
}

.Wishlist-img{
   width: 80px;
   height: auto;
}
 
